* {
    margin: 0;
    padding: 0;
}

@media (max-width: 599px) {
    body {
        background-color: rgb(255, 99, 125);
        width: 100vw;
        height: 100vh;

        main {
            .contentMain {
                .txtMain {
                    margin-top: 5%;
                    font-family: "Sigmar", sans-serif;
                    font-weight: 400;
                    font-style: normal;
                    text-align: center;
                }

                .gifs {
                    margin-top: 5%;

                    .gif20 {
                        width: 100vw;
                    }

                    .banners {
                        display: flex;
                        justify-content: space-between;
                        align-items: center;

                        .textoRegalo {
                            margin-right: 2%;
                            margin-left: 2%;
                            font-family: "Sigmar", sans-serif;
                            font-weight: 400;
                            font-style: normal;
                            font-size: 15px;
                        }

                        .gif1 {
                            width: 30vw;
                            height: 40vh
                        }

                        .gif2 {
                            width: 30vw;
                            height: 40vh;
                        }
                    }
                }
                .a {
                    margin-top: 10%;
                    text-align: center;

                    a {
                        font-family: "Sigmar", sans-serif;
                        font-weight: 400;
                        font-style: normal;
                        text-decoration: none;
                        font-size: 5vw;
                    }
                }
            }
        }
    }
}